/* Reset de estilos para garantir uma base consistente */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Estilos do cabeçalho */
header {
    background-color: #910000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

/* Estilos da navegação */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* Estilos do conteúdo principal */
main {
    padding: 100px;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #ffffff;
}

div p {
    text-align: center;
    font-size: 50px;
}

div p1 {
    font-size: 25px;
}